body {
    /*
    background-image: url(./final-project/mobile-space.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*background*/
    background: url(./final-project/mobile-space.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    height: 712px;
    border: 1px solid red;
}